*{
    margin: 0%;
    padding: 0%;
}

header {
    background: rgba(0, 0, 0, 0.80);

}

header ul {
    display: flex;
   list-style: none;
   gap: 35px;
   margin-left: 300px;
   margin-top: -25px;
}

header img {
    padding-top: 20px;
    height: 25px;
    padding-left: 150px;
}


header ul li a {
    color: aliceblue;
    text-decoration: none;
}

.rasim12 {
    margin-left: 1200px;
    margin-top: -30px;
}